.form-new-task {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    gap: 2rem;
}

.form-new-task>label {
    height: 1.1875rem;
    align-self: stretch;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02rem;
    color: #000;
}

.form-new-task>input {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 1rem;

    border-radius: 0.5rem;
    border: 1px solid #D7DDE9;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02rem;
}

.form-new-task>input:focus {
    outline-color: #b0b5be;
    outline-style: solid;
    outline-width: 2px;
}

.container-buttons-new-task {
    display: flex;
    justify-content: space-between;

    width: 100%;
    gap: 1rem;
}